*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h1{

    text-align: center;
}

body{
    font: 16px "Helvetica Neue", Arial, sans-serif;
    color: #121214;
}

ul {
    text-orientation: none;
}

ul li {
    padding: 20px;
    width:200px;
    background:#ccc;
    border:1px solid #121214;
    margin: 20px;

}

.repository-list {
    display:flex;
    flex-direction: column;
    justify-content: space-around;

}
